#grid{
    margin: 4rem auto 4rem ;
    width: var(--width);
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title                  title                   title                       title"
    "about_element          about_element           about_element               head_animation"
    "portfolio_description  portfolio_description   git                         cv"
    "skillset               skillset                contact_element             contact_element"
    "footer                 footer                  footer                      footer"
    ;
}





@media (max-width:1000px){
    
    #grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title                  title"
        "head_animation         head_animation"
        "about_element          about_element"
        "portfolio_description  portfolio_description"
        "git                    cv"
        "skillset               skillset"
        "contact_element        contact_element"
        "footer                 footer"
        ;
    }
}


