#portfolio_description{
    grid-area:portfolio_description;
    background-color: #EAE8FF;
    border-radius: 10px;
    padding: 2rem;
    transition: .5s;
    color: #2F2C4E;
    animation: description 1s ease;
}

.btn_portfolio{
    background-color: #2F2C4E;
    color: #EAE8FF;
    width: fit-content;
    height: fit-content;
    padding: .5rem;  
    transition: .5s;
    border: 1px solid transparent;
}
.btn_portfolio:hover{
    border-radius: 20px;
    background-color:#EAE8FF;
    color: #2F2C4E;
    border: 1px solid #2F2C4E;
}
.btn_portfolio:hover{
    cursor: pointer;
}

@keyframes description{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}