#portfolio_element{
    position: relative;
    width: var(--width);
    margin: auto;

}

.portfolio-content{
    position: relative;
    height: fit-content;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill,minmax(calc(16vw + 14rem),1fr));
    align-content: start;

}
.card{
    position: relative;
    background: center center/cover;
    transition: .5s;
    color: #D8D8D8;
    cursor: pointer;
    overflow: hidden;
    font-size: clamp(1.5rem,1.5vw,4rem);
    border-radius: 20px;
    animation: portfolio ease 1s;
}

.card .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    padding: 0 1rem 0;
}

.card:hover .overlay{
    display: block;
}
.card:hover{
    box-shadow: 1px 1px 10px 1px #000;
}
.card .overlay a{
    font-size: 2rem;
    cursor: pointer;
    color: #D8D8D8;
    background-color: #FF4575;
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
}

.start-link{
    font-size: 2rem;
    cursor: pointer;
    color: #FF4575;
}

@keyframes portfolio{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}