
#cv{
    grid-area: cv;
    background-color: #2F2C4E;
    border-radius: 10px;
    color: #EAE8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: .5rem;

    transition: .5s;
    animation: download ease 1s;
}
#cv span{
    color: #CE92FE;
    font-size: clamp(1rem,1vw + .5rem,2rem);
}

#cv a{
    background-color: #211F37;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    animation: download ease 5s infinite;
}

#cv a:hover{
    animation: none;
    background-color: #fff;
    color: #191635;
    cursor: pointer;
}

@keyframes  download{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}