#about_element{
    grid-area: about_element;
    background-color: #7C79F7;
    border-radius: 10px;
    transition: .5s;
    animation: about ease 1s;
    border: 1px solid transparent;
}
#about_element:hover{
    border: 1px solid #fff;
}
.about-content{
    padding: 2rem;
}
.about-content p{
    text-align: justify;
    overflow: hidden;
}
.profile-description{
    display: flex;
    flex-direction: column;
}
.profile-img{
    background: center center/cover;
}

@keyframes about{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}