#age{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: age;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: .5s;
}
#age:hover{
    box-shadow: 1px 1px 6px 1px #D0E3FF;
}
