#contact_element{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    grid-area: contact_element;
    background-color: #6B4EA5;
    border-radius: 10px;
    padding: 1rem;
}

.contact-card{
    color: #fff;
    border-radius: 4px;
    display: flex;
    font-weight: 500;
    font-size: 2rem;
    font-size: clamp(1rem,.6vw + 1rem,3rem);
}

.contact-card:first-child{
    animation: first ease 2s;
}
.contact-card:nth-child(2){
    animation: second ease 2s;
}

.contact-card:last-child{
    animation: last ease 2s;
}

@keyframes first{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes second{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes last{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}