#git{
    grid-area: git;
    animation: gitmove 1s ease;
}

#git a {
    text-decoration: none;
    color: white;
    text-align: center;

}
#git a img{

    padding: 1rem;
    border: 1px solid transparent;
    transition: 1s;
    width: 100%;
}
#git a img:hover{
    transition: 1s;
    border: 1px solid #fff;
    border-radius: 20px;

}
@keyframes gitmove{
    from{
        transform: skew(15deg, 15deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}