#skillset{
    grid-area: skillset;
    background-color: #D13F63;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
    animation: skillset ease 2s;
    position: relative;
}

#skillset .skill{
    color: #fff;
    font-size: 5rem;
}


.skill{

    width: 60px;
    height: 60px;
    position: relative;
    overflow-wrap: break-word;
    background: center center/cover;
}

.skill::before,
.skill::after{
    --scale:0;
    --tooltip-color:#fff;
    --arrow-size:10px;

    position: absolute;
    content: '';
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: center bottom;
}

.skill::before{
    --translate-y:calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    background-color: var(--tooltip-color);
    font-size: 1rem;
    color: black;
    padding: .5rem;
    width: max-content;
    max-width: 200%;
    border-radius: 10px;
    text-align: center;
}

.skill:hover::before,.skill:hover::after{
    --scale:1;
}

.skill:after{
    transform-origin: center top;
    --translate-y:calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
}


.skill_progress{
    --html-width:80%;
    position: absolute;
    bottom: -.8rem;
    width: 100%;
    height: 10px;
    background-color: #1D1C44;
    border-radius: 20px;
    border:1px solid #EAE8FF ;
    transform: scale(0);
}
.skill:hover .skill_progress{
    transform: scale(var(--scale));
    transition: 150ms transform;
}
.skill_progress::before{
    position: absolute;
    width: 80%;
    height: 10px;
    content: '';
    border:1px solid #EAE8FF ;
    background-color: #EAE8FF;
    border-radius: 20px;
    transform:  translateY(-10%);
}
.skill_progress:first-child:before{
    width:var(--html-width) ;
}
.skill_progress:nth-child(2):before{
    width:10% ;
}

@keyframes skillset{
    from{
        transform: translateX(-150%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}