#footer_animation{
    grid-area: footer_animation;
}

.ball{
    background-color: #9198e5;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: animateball .9s ease infinite;
}

@keyframes animateball{
    10%{
        width: 50px;
        height: 50px;
    }
    30%{
        height: 50px;
        width: 40px;
        transform: translateY(0);
    }
    50%{
        height: 30px;
        width: 57px;
        transform: translateY(200px);
    }
    75%{
        height: 40px;
        width: 57px;
    }
    100%{
        transform: translateY(0px);
    }
    
}