*,*::before,*::after{

  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
*{
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}
:root {
  --yellow-color: #F9F54B;
  --background-yellow:#CAC739;
  --white-color:#fff;
  --font-style:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --width:clamp(100px,100%,1200px);
  --height:100vh;
  --body-color:#1D1C44;
  --link-color:rgba(255,255,255,.4);
}

#root{
  font-family:var(--font-style);
  
}
body {
  
  overflow-x: hidden;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-height: 60vh;
  background-color:var(--body-color) ;
}
