
#head_animation{
    grid-area:head_animation ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    font-size: 3rem;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 11ch;
    animation: typing 2s steps(11),blink .5s infinite step-start alternate;
    overflow: hidden;
}
.bounce{
    width: 100px;
    height: 100px;
    background-color: #9AC8FF;
    border-radius: 100%;
    animation: bounce 2s ease infinite;
    margin-top: 4rem;
}


@keyframes typing{
    from{width: 0;}
}
@keyframes blink{
    50%{
        border: transparent;
    }

}

@keyframes bounce{
    0%{
        background-color: #9AC8FF;
    }
    100%{
        background-color: #7C79F7;
    }
}