:root{
    --elements-width:800px;
    --modal-project-show:0;
    --modal-body-width:clamp(400px,38vw + 4.6rem,80rem);
}
.modal-project{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    transition: 1s;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.modal-project-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.project-image{
    object-fit: cover;
    width: clamp(25rem,20vw,30rem);
    height: 20rem;
}

.project-info{
    width: clamp(25rem,20vw,30rem);
    height: 20rem;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    background-color: #D3D052; 
    font-size: 1.2rem;
}


.close-modal{
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    background-color: rgba(0,0,0,.6);
    border-radius: 100px;
    display: flex;
    width: fit-content;
}

@media (max-width:500px){
    .project-image{
        width: clamp(20rem,18vw,26rem);
        height: 15rem;
    }
    
    .project-info{
        width: clamp(20rem,18vw,26rem);
        height: 15rem;
    }
}